services:
  app:
    build: .
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    ports:
      - "3000:5173"
      - "3001:4173"
    environment:
      - NODE_ENV=development

volumes:
  node_modules:
